* { box-sizing: border-box; }
body {
  font-family: sans-serif;
  color: #fff;
  background: #de2fb8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; }

/* Big counter styling. */
counter {
  font-size: 5em;
  padding: 1em;
  border: 2px solid #fff;
  border-radius: 1em; }
counter:hover { background: rgba(0,0,0,0.1); }
counter:active { background: rgba(0,0,0,0.1); }
.blank counter, .setup counter { display: none; }

/* Buttons. */
button {
  background: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 1em;
  border-radius: 1em;
  margin-top: 1em;
  font-weight: bold; }

/* Stuff to hide. */
.blank controls, .setup controls, .blank #setup, .count #setup, .blank #prompt,
.count #prompt, .blank #startprog, .count #startprog, .blank #guide,
.setup #guide { display: none; }

#guide {
  margin-top: 1em;
}

#prompt {
  font-size: 1.5em;
  margin-bottom: 1em;
}

#setup {
  border: 2px solid #fff;
  padding: 1em;
  border-radius: 1em;
  background: none;
  color: #fff;
  font-size: 1.3em;
}

#credit {
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
